# Compiled Object files
*.slo
*.lo
*.o
*.obj



# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Build directories
build*

# Executables
*.exe
*.out
*.app
include_gardener

# VSCode
.vscode

# QT Creator
CMakeLists.txt.user

# Mac bloat
.DS_Store

# Test results
test/cmd_line/test-reports

# Python cache
__pycache__
